# OS
.DS_Store

# Editors
.vscode/
.idea/

# Node / Python / Go junk (future-proofing)
node_modules/
__pycache__/
*.log

# Helm
charts/**/charts/
charts/**/tmp/

# Terraform (if added later)
.terraform/
*.tfstate*


node_modules
npm-debug.log
Dockerfile
.dockerignore
